@page
@model Eyeglasses_VuNhatHao.Pages.EyeGlassModel

@if (HttpContext.Session.GetString("Role") == 1.ToString())
{
    if (HttpContext.Session.GetString("Price") != null)
    {
        Model.Price = int.Parse(HttpContext.Session.GetString("Price"));
    }
    if (HttpContext.Session.GetString("EyeglassesDescription") != null)
    {
        Model.EyeglassesDescription = HttpContext.Session.GetString("EyeglassesDescription");
    }

    <form method="post" asp-page-handler="Search">
        <div>Search</div>
        Price: <input type="number" asp-for="Price" value="@Model.Price">
        EyeglassesDescription: <input type="text" asp-for="EyeglassesDescription" value="@Model.EyeglassesDescription">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <form method="post" asp-page-handler="Create">
        <button type="submit">Create</button>
    </form>

}
@if (HttpContext.Session.GetString("Email") == null)
{
    Redirect("Login");
}
<div>
    <table>
        <thead>
            <tr>
                <th>Eyeglasses ID</th>
                <th>EyeglassesName</th>
                <th>EyeglassesDescription</th>
                <th>FrameColor</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>CreatedDate</th>
                <th>LensTypeName</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var eyeglass in Model.eyeglasses)
            {
                <tr>
                    <td>@eyeglass.EyeglassesId</td>
                    <td>@eyeglass.EyeglassesName</td>
                    <td>@eyeglass.EyeglassesDescription</td>
                    <td>@eyeglass.FrameColor</td>
                    <td>@eyeglass.Price</td>
                    <td>@eyeglass.Quantity</td>
                    <td>@eyeglass.CreatedDate</td>
                    <td>@(eyeglass.LensType?.LensTypeName ?? "Unknown")</td>
                    <td>
                        @if (HttpContext.Session.GetString("Role") == 1.ToString())
                        {
                            <form method="post" asp-page-handler="Delete">
                                <input type="hidden" asp-for="IdToDelete" value="@eyeglass.EyeglassesId" />
                                <button type="submit">Delete</button>
                            </form>
                        }
                    </td>
                    <td>
                        @if (HttpContext.Session.GetString("Role") == 1.ToString())
                        {
                            <form method="post" asp-page-handler="Update">
                                <input type="hidden" asp-for="IdToUpdate" value="@eyeglass.EyeglassesId" />
                                <button type="submit">Update</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@for (int i = 1; i <= Model.totalPage; i++)
{
    <form method="post" style="display: inline" asp-page-handler="GetList">
        <input type="hidden" asp-for="pageIndex" value="@i" />
        <button type="submit">@i</button>
    </form>
}